 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>I'm a freshman Computer Science major at James Madison University. Check out my projects above, or my social media profiles below!</p>
                </div>
            </div>
        </div>
    </section>
